/* bare de recherche */
@import "../lib/bootstrap.min.css";
@import "../lib/navbar.scss";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

h1 {
  color: #111;
  font-family: "Open Sans", sans-serif;
  font-size: large;
  text-align: center;
}

#select-background {
  // fixed in top-right corner
  position: fixed;
  left: 0;
  top: 0;
}

.navbar {
  position: fixed;
  height: 40px;
  opacity: 0.7;
  background-color: whitesmoke;
}

h2 {
  font-family: sans-serif;
  font-size: small;
}

.search {
  left: 25%;
  position: fixed;
  text-align: center;
  width: 50%;
  padding-top: 10px;
  z-index: 2;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: indigo;
  text-align: center;
  display: none;
}

.loadTitle {
  margin-top: 20%;
}

.loader {
  display: inline-block;
  width: 60px;
  height: 60px;
  position: relative;
  border: 8px solid #fff;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

.cards {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;;
  margin: 30px auto;
}

.card {
  width: 300px;
  margin: 10px auto;
  float: left;
  opacity: 0.99999;

  background-color: white;
  box-shadow: 0px 5px 20px #555;

  a {
    color: #333;
    text-decoration: none;
  }

  &:hover {
    .card-image {
      img {
        width: 330px;
        //filter:grayscale(0);
      }
    }
  }
}

.card-image {
  height: 300px;
  position: relative;
  overflow: hidden;

  img {
    width: 300px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    //filter: grayscale(1);

    transition-property: filter width;
    transition-duration: 0.3s;
  }
}

.card-body {
  text-align: center;
  padding: 5px 5px;
  box-sizing: border-box;
}

.card-date {
  font-family: "Source Sans Pro", sans-serif;
}

.card-title,
.card-exceprt {
  font-family: "Playfair Display", serif;
}

.card-date,
.card-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.card-date,
.card-excerpt {
  color: #777;
}

.container {
  align-items: center;
  margin-top: 5%;
}