/* bare de recherche */
@import '../lib/bootstrap.min.css';
@import '../lib/navbar.scss';
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

h1 {
  color: #111;
  font-family: 'Open Sans', sans-serif;
  font-size: large;
  text-align: center;
}

#select-background {
  // fixed in top-right corner
  position: fixed;
  left: 0;
  top: 0;
  transform:scale(1.5);
  -webkit-transform:scale(1.5);
}

body {
  overflow: hidden;
}

.navbar {
  height: 70px;
  opacity: 0.7;
  background-color: whitesmoke;
}

h2 {
  font-family: sans-serif;
  font-size: small;
}

.search {
  width: 50%;
  position: relative;
  display: flex;
  text-align: center;
  margin:0 auto;
  padding-bottom: 10px;
}

#searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

#searchTerm:focus{
  color: #00B4CC;
}

#searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

#addTrackContainer {
  display: none;
  position: absolute;
  width: 50%;
  height: 50%;
  margin-left: 300px;
  padding: 10px;
  z-index: 1000;
  background: rgba(0,0,0,0.8);
  text-align: center;
  color: white;

  & > div > input {
    color: black;
  }
}

.content-center {
  display: flex;
  justify-content: center;
}


.cards {
  overflow:auto;
  height: 496px; 
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.card {
  width: 300px;
  margin: 10px auto;
  float: left;
  opacity: .99999;
  
  background-color:white;
  box-shadow: 0px 5px 20px #555;
 
  a {
   color: #333;
     text-decoration:none;
  }
  
  &:hover {  
    .card-image {
      img {
         width: 330px;
         //filter:grayscale(0);
      }  
    }
  }
  
}

.card-image {

  height: 300px;
  
  position:relative;
  overflow:hidden;
  
  img {
    width: 300px;
    
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    //filter: grayscale(1);
    
    transition-property: filter width;
    transition-duration: .3s; 
  }
 
}

.card-body {
  text-align:center; 
  padding: 5px 5px; 
  box-sizing: border-box;
}

.card-date {
  font-family: 'Source Sans Pro', sans-serif;
}

.card-title, .card-exceprt {
   font-family: 'Playfair Display', serif;
}

.card-date, .card-title {
  text-align:center;
  text-transform:uppercase;
  font-weight: bold;
}

.card-date, .card-excerpt {
  color: #777;
}

.container {
  align-items: center;
  margin-top: 5%;
}
